*{
    margin: 0;
  }
  body{
    background: rgb(50, 50, 50);
  }
  html, body {
          height: 100%;
          margin: 0;
      }

  #joinDiv{
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(50, 50, 50, 200);
    z-index: 999;
  }
  #joinBox{
    width: 100%;
    text-align: center;
    margin-top: 45vh;
  }

  #appDiv{
    max-width: 1004px;
    height: 99%;
    display: block;
    margin: auto;
    background: white;
    overflow: hidden;
    position: relative;
  }


  @media only screen and (min-width: 799px) {
    
    #userlist{
      border: 1px solid black;
      width: 200px;
      float: left;
      height: 100%;
      overflow: auto;

      position: absolute;
      left:0;
      -webkit-transition: all 1s; /* Safari */
      transition: all 0.5s;

      background: white;
      z-index: 5;
    }

    #chatarea{
      border: 1px solid black;
      width: calc(100% - 204px);
      position: absolute;

      height: 100%;
      right: 0;
      -webkit-transition: all 1s; /* Safari */
      transition: all 0.5s;
    }

.showUsers_chat{
width:100% !important;
}
.showUsers_users{
left:-201px !important;
}

  }

  @media only screen and (max-width: 799px) {
    #userlist{
      border: 1px solid black;
      width: 200px;
      height: 100%;
      overflow: auto;
      transition: 1s;
      position: absolute;
      left: -200px;
      
      background: white;
      z-index: 5;
      -webkit-transition: all 1s; /* Safari */
      transition: all 0.5s;
    }

    #chatarea{
      border: 1px solid black;
      width: 100%;
      position: relative;
      left:0;

      height: 100%;
      -webkit-transition: all 1s; /* Safari */
      transition: all 0.5s;
    }

    .showUsers_chat{
      left:200px !important;
    }
    .showUsers_users{
      left: 0px !important;
    }
  }






  #showhidelist{
    position: absolute;
    left: 0;
    top:0;
    height:30px;
    width:30px;
    font-size: 22px;
    border: 1px solid black;
    cursor: pointer;
  }


  #userlist ul{
    text-decoration: none;
    padding: 0;
    margin: 5px;
  }
  #userlist ul li{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }
  #userlist ul li:hover{
    background: lightgray;
  }

  #sendMessageDiv{
    /* height:50px; */
    border: 1px solid black;
    bottom:0;
    position: absolute;
    width: calc(100% - 2px);
    display: flex;
  }
  #sendTo{
    flex: 1;
    max-width: fit-content;
    background: lightgreen;
    font-size: 20px;
    padding: 0 5px;
    cursor: pointer;
  }
  #sendMessageBtn{
    height: 29px;
    max-width: 60px;
    flex:1;
  }
  #message{
    font-size: 20px;
    flex: 1;
  }


  #chatlog{
    overflow-y: scroll;
    height: calc(100% - 63px);
  }
  .message{
    display: block;
    width: 90%;
    margin: auto; 
    transition: all .5s;
    padding: 15px;
  }

  .userIOLine{
    max-width: 50%;

    color: black;
    float: left;
    clear: both;

    padding: 10px 20px;
    position: relative;

    word-wrap: break-word;
    margin-bottom: 20px;
    font: 400 15px 'Open Sans', sans-serif;
  }
  .fromthem{
    max-width: 50%;

    background: #E5E5EA;
    color: black;
    float: left;
    clear: both;

    border-radius: 25px;
    padding: 10px 20px;
    position: relative;

    word-wrap: break-word;
    margin-bottom: 20px;
    font: 400 15px 'Open Sans', sans-serif;
  }
  .fromthem::before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 19px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
  }
  .fromthem::after{
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }

  .fromme{
    max-width: 50%;

  background:green;
  color: white;
  float: right;
  clear: both;

  border-radius: 25px;
  padding: 10px 20px;
  position: relative;

  word-wrap: break-word;
  margin-bottom: 20px;
  font: 400 15px 'Open Sans', sans-serif;
  }
  .fromme::before{
    content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -8px;
  height: 19px;
  border-right: 20px solid green;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
  }
  .fromme::after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -42px;
    width: 12px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }